<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="side-bar">
    <mat-nav-list class="test2">
      <a>
        <mat-icon class="icon">account_circle</mat-icon>
      </a>

      <a href="/profile" class="side-nav-link" mat-list-item>General information</a>
      <a href="/profile/bookings" class="side-nav-link" mat-list-item>Bookings</a>
      <a href="/profile/orders" class="side-nav-link" mat-list-item>Room service orders</a>


    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="right-side">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let roomservice of roomservices" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Room: {{roomservice.roomName}}
          </mat-panel-title>
          <mat-panel-description>
            STATUS: {{roomservice.commandStatus}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Order time: {{roomservice.timeOfOrder}}
        </p>
        <div *ngFor="let aliment of roomservice.aliments">
          <p>
            {{aliment.name}} {{aliment.price}}$
          </p>
        </div>
        <p>
          Total price: {{roomservice.totalCommandPrice}}$
        </p>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-drawer-content>
</mat-drawer-container>
