<form class="form-container" [formGroup]="bookingDatesForm" (ngSubmit)="save()">


  <h5>Arrival</h5>
  <p-calendar [inline]="true" [minDate]="minDate" [maxDate]="bookingDatesForm.get('departure').value" formControlName="arrival"></p-calendar>

  <h5>Departure</h5>
  <p-calendar [inline]="true" [minDate]="bookingDatesForm.get('arrival').value||minDate" formControlName="departure"></p-calendar>


  <button pButton label="Search" class="ui-button-info" type="submit"
          [disabled]="!bookingDatesForm.valid"></button>

</form>
