.example-container {
  height: 500px;
}

.side-bar{
  width: 15%;
  background-color: rgb(148,150,152);
}

.side-nav-link{
  color:black;
  list-style:none;
  padding:15px 10px;
  border-bottom:1px solid rgba(100,100,100,0.3);
  height: 100px;
}

.icon{
  font-size: 5em;
  margin-left: 60px;
}
