.example-container {
  height: 500px;
}

.side-bar{
  width: 15%;
  background-color: #E3E3E3;
}

.side-nav-link{
  color:black;
  list-style:none;
  padding:15px 10px;
  border-bottom:1px solid rgba(100,100,100,0.3);
  height: 100px;
}

.icon{
  font-size: 5em;
  margin-left: 60px;
}

.title{
  margin-top: 30px;
  margin-left: 40px;
  font-weight: bold;
  border-bottom:1.5px solid rgba(100,100,100,0.3);

}

.title-h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.7em;
}

.right-side{
  background-color: #FAFAFA;
}
