.slider-image {
  width: 100%;
  height: auto;
  max-height: 700px;
}

@media only screen and (min-width: 1500px) {
  .slider-image {
    max-height: 800px;
  }
}

.hotel-info-position {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hotel-info-align {
  text-align: center;
  padding: 10% 0;
  width: 100%;
}

.hotel-info-h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 2em;
}

.hotel-info-h2 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 1.3em;
}

.hotel-info-p {
  font-size: 1em;
  font-family: "PT Serif";

}

@media only screen and (min-width: 450px) {
  .hotel-info-align {
    padding: 15% 0;
  }

  .hotel-info-h1 {
    font-size: 3em;
  }

  .hotel-info-h2 {
    font-size: 1.5em;
  }

  .hotel-info-p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 600px) {
  .hotel-info-align {
    padding: 2% 0;
    width: 75%;
  }

  .hotel-info-h1 {
    font-size: 4em;
  }

  .hotel-info-h2 {
    font-size: 2em;
  }

  .hotel-info-p {
    font-size: 1.2em;
  }
}

.room-booking {
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}

.room-booking-left {
  text-align: center;
  width: 100%;
}

.options-image {
  width: 100%;
  height: auto;
  max-height: 400px;
  max-width: 600px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.room-booking-right {
  text-align: center;
  width: 100%;
}

.room-booking-h {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 1.8em;
}

.room-booking-p {
  font-size: 1em;
  font-family: "PT Serif";
}

@media only screen and (min-width: 450px) {

  .room-booking-h {
    font-size: 3em;
  }

  .room-booking-p {
    font-size: 1.2em;
  }

}

@media only screen and (min-width: 800px) {

  .room-booking {
    display: table;
  }

  .room-booking-left {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 55%;
  }

  .options-image {
    width: 70%;
  }

  .room-booking-right {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 45%;
  }

  .room-booking-h {
    margin-right: 10%;
  }

  .room-booking-p {
    margin-right: 10%;
  }

  .room-booking-btn {
    margin-right: 10%;
  }
  .btn-size{
    font-size: 1.2em;
  }
}


.roomservice {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 3%;
}

.roomservice-h {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 1.8em;
}

.roomservice-p {
  font-size: 1em;
  font-family: "PT Serif";
}

@media only screen and (min-width: 450px) {

  .roomservice-h {
    font-size: 3em;
  }

  .roomservice-p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 800px) {
  .roomservice {
    display: table;
  }

  .roomservice-h {
    margin-left: 10%;
  }

  .roomservice-p {
    margin-left: 10%;
  }

  .roomservice-btn {
    margin-left: 10%;
  }
  .btn-size{
    font-size: 1.2em;
  }

}
