<div class="room-booking" *ngFor="let categoryBooking of categoryBookings">
  <div class="room-booking-left">
    <img [src]="'data:image/jpg;base64,'+categoryBooking.image | safeHtml" class="options-image">
  </div>
  <div class="room-booking-right">
    <h1 class="room-booking-h">{{categoryBooking.name}}</h1>
    <p class="room-booking-p">
      {{categoryBooking.description}}
    </p>
    <a class="room-booking-a">Total booking price: {{categoryBooking.totalBookingPrice}} $</a>
    <button (click)="book(categoryBooking)" class="btn btn-secondary room-booking-btn btn-size">Book Room</button>

  </div>
</div>
