<div class="example-container">
  <form class="example-container" [formGroup]="roomCreationForm" (ngSubmit)="save()">
    <mat-form-field>
      <input matInput type="text" placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Floor" formControlName="floor">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Beds" formControlName="beds">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Price" formControlName="price">
    </mat-form-field>
    <mat-checkbox formControlName="tv">TV</mat-checkbox>
    <!--<button mat-raised-button color="primary" type="submit" [disabled]="!roomCreationForm.valid">Save</button>-->
    <button pButton type="button" label="Save" class="ui-button-raised" type="submit" [disabled]="!roomCreationForm.valid"></button>

  </form>

</div>
