<form [formGroup]="roomCreationForm" (ngSubmit)="save()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Floor:
    <input type="number" formControlName="floor">
  </label>

  <label>
    Beds:
    <input type="number" formControlName="beds">
  </label>

  <label>
    Price:
    <input type="number" formControlName="price">
  </label>

  <mat-checkbox>TV</mat-checkbox>
  <button type="submit" [disabled]="!roomCreationForm.valid">Save</button>

</form>
