<div class="form-container">
  <p-panel header="Account creation form">
    <br>
    <form class="form-container" [formGroup]="customerCreationForm" (ngSubmit)="save()">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Surname" formControlName="surname">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password"   formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

<!--
      <mat-form-field>
        <input matInput type="text" placeholder="Role" formControlName="role">
      </mat-form-field>
-->

      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <button pButton label="Save" class="ui-button-info" (click)="showSuccess()" type="submit"
              [disabled]="!customerCreationForm.valid"></button>
      <p-messages [(value)]="message"></p-messages>
    </form>
  </p-panel>
</div>
