<div class="login">
  <div class="login-image" style="background-image: url('assets/images/hotel-image4.jpg');">
  </div>

  <div class="login-form">
    <form class="form-container" [formGroup]="customerCreationForm" (ngSubmit)="save()">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Surname" formControlName="surname">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Birthday" formControlName="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Nationality" formControlName="nationality">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Address" formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Personal identification number" formControlName="identificationNumber">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field *ngIf="authenticationService.getUserRole()==='ROLE_ADMIN'">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <p-checkbox (click)="openTermsAndConditions()" binary="true" label="I agree with Terms and Conditions" formControlName="terms"></p-checkbox>
      <br>

      <button pButton label="Save" class="ui-button-info" type="submit"
              [disabled]="!customerCreationForm.valid||customerCreationForm.get('terms').value != true"></button>
      <p-messages [(value)]="message"></p-messages>
    </form>

  </div>
</div>
