<h1 mat-dialog-title>Terms and Conditions</h1>
<div mat-dialog-content>
  <p>By agreeing to the terms and conditions you agree to let us process you're personal data to give you a better
    experience at our hotel.</p>
  <p>The terms and conditions also state that if you give us any false data we have the right to cancel any booking you
    have made without giving back you're money.</p>
</div>


<div mat-dialog-actions>
  <button pButton (click)="cancelDialog()" class="btn btn-secondary" label="OK"></button>
</div>
