<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="side-bar">
    <mat-nav-list class="test2">
      <a>
        <mat-icon class="icon">account_circle</mat-icon>
      </a>

      <a href="/profile" class="side-nav-link" mat-list-item>General information</a>
      <a href="/profile/bookings" class="side-nav-link" mat-list-item>Bookings</a>
      <a href="/profile/orders" class="side-nav-link" mat-list-item>Room service orders</a>
      <a href="/profile/all-orders" class="side-nav-link" mat-list-item>All room service orders</a>
      <a href="/profile/all-bookings" class="side-nav-link" mat-list-item>All bookings</a>



    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="right-side">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let booking of bookings">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Room: {{booking.room.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{booking.fromTime}} - {{booking.toTime}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          Booking time: {{booking.bookingTime}}
        </p>
        <p>
          Booking price: {{booking.price}}$
        </p>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-drawer-content>
</mat-drawer-container>
