.footer-bar{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}


@media only screen and (min-width: 600px){
  .footer-bar{
    flex-direction: row;
  }

}

.text{
  text-align: center;
}
