<p-dataView #dv [value]="rooms" [paginator]="true" [rows]="8" paginatorPosition="both"
            filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" [loading]="loading">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By"
                      (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="text" pInputText placeholder="Search by name" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-room pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img class="smaller" [src]="'data:image/jpg;base64,'+room.category.image | safeHtml" />
      </div>
      <div class="ui-g-12 ui-md-8 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Name: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{room.name}}</b></div>

          <div class="ui-g-2 ui-sm-6">Floor: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{room.floor}}</b></div>

          <div class="ui-g-2 ui-sm-6">Beds: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{room.category.beds}}</b></div>

          <div class="ui-g-2 ui-sm-6">TV: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{room.category.tv}}</b></div>

          <div class="ui-g-2 ui-sm-6">Price: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{room.category.price}}</b></div>

        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-room pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="room.category.name" [style]="{'text-align':'center'}">
        <img class="smaller" [src]="'data:image/jpg;base64,'+room.category.image | safeHtml" />
        <div><b>{{room.category.price}}</b></div>
        <hr class="ui-widget-content" style="border-top:0">
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
