<div class="form-container">
  <p-panel header="Room creation form">
    <br>
    <form class="form-container" [formGroup]="alimentCreationForm" (ngSubmit)="save()">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Price" formControlName="price">
      </mat-form-field>
      <br>

      <h5>Add image</h5>
      <p-fileUpload #imageForm mode="advanced" name="image" customUpload="true" accept="image/*"
                    (uploadHandler)="onUpload($event,imageForm)"
                    maxFileSize="1000000" auto="true">
        <ng-template>
          <ul *ngIf="uploadFile!=null">
            <li>{{uploadFile.name}} - {{uploadFile.size}} bytes</li>
          </ul>
        </ng-template>
      </p-fileUpload>
      <button pButton label="Save" class="ui-button-info" (click)="showSuccess()" type="submit"
              [disabled]="!alimentCreationForm.valid||uploadFile==null"></button>
      <p-messages [(value)]="message"></p-messages>
    </form>
  </p-panel>
</div>
